.App {
  font-family: sans-serif;
  text-align: center;
}

.main-header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}

.main-header-text {
}

.main-header-add {
  margin: 0 0 0 auto;
}

.subscription-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10em;
}

.add-form-radio {
  margin: 0 0.7em 0 0;
}

.subscription-area {
  margin-top: 1em !important;
  /* margin-top: 1em; */
  width: 100%;
}

.subscription-area:first-of-type {
  margin-top: 0.5em !important;
}

.add-form {
  display: flex;
  flex-direction: column;
  /* margin: 0 3em !important; */
}

.add-form-wrapper {
  /* margin: 0 3em !important; */
}

.add-form-input {
  margin-bottom: 1em;
}

.add-form-label {
  /* margin: 0 0 0 auto; */
  /* width: 50%; */
}

.add-form-button-wrapper, .del-form-button-wrapper {
  display: flex!important;
  justify-content: flex-end;
}

.del-form-button-wrapper {
  /* margin-top: 1.5em; */
  border: none!important;
}

.subscription-detail {
  margin: 0 1em !important;
  border: none;
}

.detail {
  border: none !important;
}

.subscription-button-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  justify-content: space-between;
}

.sucscription-title{
  order: 2;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subscription-title, .subscription-remark {
  max-width: 290px;
  overflow-wrap: break-word;
}

.sucscription-cost {
  order: 1;
}

.subscription-total {
  margin: 1em 0 !important;
}

.main-header-icon {
  width: 1.5em;
  height: 1.5em;
}


.table-pointer {
  pointer-events: auto!important;
}